<div class="page-header">
    <div class="page-block">
        <div class="row align-items-center">
            <div class="col-md-8">
                <div class="page-header-title">
                    <h5 class="m-b-10">Fiche de paies  </h5>
                    <p class="m-b-0">Welcome </p>
                    
                </div>
            </div>
            <div class="col-md-4">
                <ul class="breadcrumb-title">
                    <li class="breadcrumb-item">
                        <a routerLink="/home"> <i class="fa fa-home"></i> </a>
                    </li>
                    <li class="breadcrumb-item"><a href="#!"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-header" >
        <form>
            <input id="impression" name="impression"  type="button"  value="Imprimer cette page" />          </form>
        <div class="card-block table-border-style"  >
            <div class="card-block table-border-style" 
            style="float:left" >
                <h5>Nom : 
                    <br/> Prénom : 
                    <br/> Grade : 
                    <br/> N° CIN :
                    <br/> N° CNSS : 
                     

 
                </h5>
           
            </div>
            <br/>
            <div class="card-block table-border-style" style="float:right"  >
                <h5>
                     Salaire : 
                    <br/> Nombre des heures de travail  :
                    <br/> Solde de congés : 
                    <br/> Solde aquis : 
                    <br/> Congés du mois :
                    <br/> Solde actuel : 
 


 
                </h5>
                
           
            </div>
           
        </div>
        
        
    </div>
    <div class="card-block table-border-style">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr class="table-success">
                        <th>Code</th>
                        <th>Base </th>
                        <th>Congés</th>
                        <th>Crédits </th>
                        <th>totale</th>
                    </tr>
                </thead>
                <tbody>
                    <tr >                        
                        <th scope="row">1</th>
                        <td></td>
                        <td>Otto</td>
                        <td>@mdo</td>
                        <td>@mdo</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                        <td>@mdo</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                        <td>@mdo</td>
                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                        <td>@mdo</td>
                    </tr>
                    <tr>
                        <th scope="row">5</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                        <td>@mdo</td>
                    </tr>
                    
                    
                </tbody>
            </table>
        </div>
    </div>
</div>
