<div id="print-section">
  <div class="card" style="border: solid">
    <div class="card-header">

      <form>
        <div class="card-block table-border-style">
          <table style="float: left">
            <tr>
              <td>Nom :  </td>
              <td>
                <input type="text" class="form-control" id="exampleInputNom" />
              </td>
            </tr>
            <tr>
              <td>Prénom :  </td>
              <td>
                <input type="text" class="form-control" id="exampleInputPrenom" />
              </td>
            </tr>
            <tr>
              <td>Grade :  </td>
              <td>
                <input type="text" class="form-control" id="exampleInputgrade" />
              </td>
            </tr>
            <tr>
              <td>N°CIN :  </td>
              <td>
                <input type="text" class="form-control" id="exampleInputcin" />
              </td>
            </tr>
            <tr>
              <td>N°CNSS / N°CNRPS :  </td>
              <td>
                <input type="text" class="form-control" id="exampleInputncnss" />
              </td>
            </tr>
          </table>
          <table style="float: right">
            <tr>
              <td>Nombre des heures de travail :  </td>
              <td>
                <input
                  type="text"
                  class="form-control"
                  id="exampleInputnbheure"
                />
              </td>
            </tr>
            <tr>
              <td>Solde de congé :  </td>
              <td>
                <input type="text" class="form-control" id="exampleInputsconge" />
              </td>
            </tr>
            <tr>
              <td>Solde acqui :  </td>
              <td>
                <input type="text" class="form-control" id="exampleInputsacqui" />
              </td>
            </tr>
            <tr>
              <td>Congé du mois :  </td>
              <td>
                <input type="text" class="form-control" id="exampleInputcmois" />
              </td>
            </tr>
            <tr>
              <td>Solde actuel :  </td>
              <td>
                <input
                  type="text"
                  class="form-control"
                  id="exampleInputsactuel"
                />
              </td>
            </tr>
          </table>
        </div>
      </form>
    </div>
    <div class="card-block table-border-style">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr class="table-success">
              <th>Code</th>
              <th>Base</th>
              <th>Congés</th>
              <th>Crédits</th>
              <th>totale</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td></td>
              <td>Otto</td>
              <td>@mdo</td>
              <td>@mdo</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>@fat</td>
              <td>@mdo</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Larry</td>
              <td>the Bird</td>
              <td>@twitter</td>
              <td>@mdo</td>
            </tr>
            <tr>
              <th scope="row">4</th>
              <td>Larry</td>
              <td>the Bird</td>
              <td>@twitter</td>
              <td>@mdo</td>
            </tr>
            <tr>
              <th scope="row">5</th>
              <td>Larry</td>
              <td>the Bird</td>
              <td>@twitter</td>
              <td>@mdo</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
	
</div>
<button printTitle="Fiche de paie" printSectionId="print-section" ngxPrint class="btn btn-round waves-effect waves-light" style="background-color: pink"
>
  Imprimer
</button>











