<ng-template #content let-modal>
  <div class="modal-header">
    <h6 class="modal-title" id="modal-basic-title">Profile update</h6>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="formDemande">
      <div
        class="form-group"
        [ngClass]="{
          ' form-success': formDemande.get('Nom')?.valid,
          'form-danger': formDemande.get('Nom')?.invalid
        }"
      >
        <label class="float-label"><h6>Nom :</h6></label>

        <input
          type="text"
          name="footer-Nom"
          formControlName="Nom"
          class="form-control"
          required=""
        />
        <span class="form-bar"></span>
      </div>
      <div
        class="form-group"
        [ngClass]="{
          ' form-success': formDemande.get('Prenom')?.valid,
          'form-danger': formDemande.get('Prenom')?.invalid
        }"
      >
        <label class="float-label"><h6>Prénom :</h6></label>

        <input
          type="text"
          name="footer-Prenom"
          formControlName="Prenom"
          class="form-control"
          required=""
        />
        <span class="form-bar"></span>
      </div>
      <div
        class="form-group"
        [ngClass]="{
          ' form-success': formDemande.get('type')?.valid,
          'form-danger': formDemande.get('type')?.invalid
        }"
      >
        <label class="float-label"><h6>Type :</h6></label>
        <br />
        <div class="form-check">
          <label *ngFor="let radiobutton of radioItems">
            <input
              type="radio"
              [value]="radiobutton.value"
              formControlName="type"
            />{{ radiobutton.name }} &nbsp; &nbsp; &nbsp;
          </label>
          <div
            *ngIf="this.formDemande.get('type')?.value == 'conge'"
            [formGroup]="congeForm"
          >
            <div class="form-check">
              <label class="float-label"><h6>Type de congé:</h6></label><br />
              <label *ngFor="let conge of congeTypes">
                <input
                  type="radio"
                  [value]="conge.value"
                  formControlName="typeConge"
                />{{ conge.name }}&nbsp; &nbsp; &nbsp;
              </label>

              <br />
              <div
                class="form-group"
                [ngClass]="{
                  ' form-success': congeForm.get('date_debut')?.valid,
                  'form-danger': congeForm.get('date_debut')?.invalid
                }"
              >
              <label class="float-label"><h6>Date de début :</h6></label>
              <input
                  type="number"
                  name="footer-date_debut"
                  formControlName="date_debut"
                  class="form-control"
                  required=""
                />
                <span class="form-bar"></span>
              </div>
              <div
                class="form-group"
                [ngClass]="{
                  ' form-success': congeForm.get('date_fin')?.valid,
                  'form-danger': congeForm.get('date_fin')?.invalid
                }"
              >
              <label class="float-label"><h6>Date de fin :</h6></label>

              <input
                  type="number"
                  name="footer-date_fin"
                  formControlName="date_fin"
                  class="form-control"
                  required=""
                />
                <span class="form-bar"></span>
              </div>
              <div class="form-group">
                <label class="float-label"> <h6>Description :</h6></label>

                <input
                  type="text"
                  name="footer-description"
                  formControlName="description"
                  class="form-control"
                  required=""
                />
                <span class="form-bar"></span>
              </div>
            </div>
          </div>

          <div
            *ngIf="this.formDemande.get('type')?.value == 'autorisation'"
            [formGroup]="autorisationForm"
          >
            <br />

            <div
              class="form-group"
              [ngClass]="{
                ' form-success': autorisationForm.get('heure_debut')?.valid,
                'form-danger': autorisationForm.get('heure_debut')?.invalid
              }"
            >

            <label class="float-label"><h6>Heure de début :</h6></label>
            <input
                type="text"
                name="footer-heure_debut"
                formControlName="heure_debut"
                class="form-control"
                required=""
              />
              <span class="form-bar"></span>
            </div>
            <div
              class="form-group"
              [ngClass]="{
                ' form-success': autorisationForm.get('heure_fin')?.valid,
                'form-danger': autorisationForm.get('heure_fin')?.invalid
              }"
            >
            <label class="float-label"><h6>Heure de fin :</h6></label>
            <input
                type="text"
                name="footer-heure_fin"
                formControlName="heure_fin"
                class="form-control"
                required=""
              />
              <span class="form-bar"></span>
            </div>
            <div class="form-group">
              <label class="float-label"><h6>Description :</h6></label>

              <input
                type="text"
                name="footer-description"
                formControlName="description"
                class="form-control"
                required=""
              />
              <span class="form-bar"></span>
            </div>
          </div>
        </div>
      </div>

      <!-- <button (click)="postEmployeeDetails()" *ngIf="showAdd" class="btn btn-success" data-bs-dismiss="modal"> Add </button>
                         <button (click)="updateEmployeeDetails()" *ngIf="showUpdate" class="btn btn-info" data-bs-dismiss="modal"> Update</button>
                    -->
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-secondary btn-round waves-effect waves-light"
      (click)="close()"
      data-dismiss="modal"
    >
      Annuler
    </button>
    <button
      [disabled]="this.congeForm.invalid && this.autorisationForm.invalid"
      class="btn btn-primary btn-round waves-effect waves-light"
      (click)="saveDemandes()"
      type="submit"
    >
      enregistrer
    </button>
  </div>
</ng-template>

<div class="page-header">
  <div class="page-block">
    <div class="row align-items-center">
      <div class="col-md-8">
        <div class="page-header-title">
          <h5 class="m-b-10">Détails des demandes</h5>
          <p class="m-b-0"></p>
        </div>
      </div>
      <div class="col-md-4">
        <ul class="breadcrumb-title">
          <li class="breadcrumb-item">
            <a routerLink="/home"> <i class="fa fa-home"></i> </a>
          </li>
          <li class="breadcrumb-item"><a href="#!">Demandes</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="card">
  <div class="card-header">
    <h2>Liste des demandes</h2>
    <span> </span>
    <div class="card-header-right">
      <ul class="list-unstyled card-option">
        <li><i class="fa fa fa-wrench open-card-option"></i></li>
        <li><i class="fa fa-window-maximize full-card"></i></li>
        <li><i class="fa fa-minus minimize-card"></i></li>
        <li><i class="fa fa-refresh reload-card"></i></li>
        <li><i class="fa fa-trash close-card"></i></li>
      </ul>
    </div>
  </div>
  <div class="d-flex">
    <form class="d-flex p-2">
      <input
        class="form-control me-2"
        type="search"
        placeholder="Chercher"
        aria-label="Search"
      />
      <button
        data-bs-toggle="modal"
        data-bs-target="#exampleModal"
        class="btn btn-primary btn-round text-center"
        type="submit"
        
      >
        Chercher
      </button>
    </form>
    <div class="ml-auto p-2">
      <button
      (click)="openModal(content)"
        type="button"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal"
        class="btn btn-primary btn-round"
      >
        + Nouvelle demande
      </button>
    </div>
  </div>



  <div class="card-block table-border-style">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>id</th>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Type</th>
            <th>début</th>
            <th>fin</th>
            <th>Description</th>

            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let demande of demandes">
            <th scope="row">1</th>
            <td>{{ demande.Nom }}</td>
            <td>{{ demande.Prenom }}</td>
            <td>{{ demande.type }}</td>
            <td>{{ demande.ddebut }}</td>
            <td>{{ demande.dfin }}</td>
            <td>{{ demande.description }}</td>

            <td>
              <button
                class="btn btn-success mx-3 btn-round waves-effect waves-light"
              >
                Accepter
              </button>
              <button class="btn btn-info btn-round waves-effect waves-light">
                Reffuser
              </button>
              <button
                class="btn btn-danger mx-3 btn-round waves-effect waves-light"
              >
                Supprimer
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
