<div class="page-header">
  <div class="page-block">
    <div class="row align-items-center">
      <div class="col-md-8">
        <div class="page-header-title">
          <h5 class="m-b-10">Pointage</h5>
          <p class="m-b-0">Welcome</p>
        </div>
      </div>
      <div class="col-md-4">
        <ul class="breadcrumb-title">
          <li class="breadcrumb-item">
            <a routerLink="/home/dashboard"> <i class="fa fa-home"></i> </a>
          </li>
          <li class="breadcrumb-item"><a href="#!"></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div>
  <form>
    <table>
      <tr>
        <button
          class="btn waves-effect waves-light btn-primary btn-outline-primary"
          type="button"
        >
          Début de la journée
        </button>
        <button
          class="btn waves-effect waves-light btn-primary btn-outline-primary"
          type="button"
        >
          Fin de la journée
        </button>
      </tr>
      <tr>
        <button
          class="btn waves-effect waves-light btn-success btn-outline-success"
          type="button"
        >
          7:00 AM
        </button>
        <button class="btn waves-effect waves-light btn-primary" type="button">
          Début de la journée
        </button>
      </tr>
      <tr>
        <button
          class="btn waves-effect waves-light btn-danger btn-outline-danger"
          type="button"
        >
          En retard
        </button>
        <button class="btn waves-effect btn-primary" type="button">
          Début de la journée
        </button>
      </tr>
    </table>
  </form>
</div>
